[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
databases = {extras = ["postgresql"],version = "*"}
psycopg2 = "*"
prometheus-client = "*"
prometheus-fastapi-instrumentator = "*"

[requires]
python_version = "3.7"
